.box{
    width: 200px;
    height: 200px;
    background-color: red
    ;
    animation-name: exaple;
    animation-delay: 0.1s;
    animation-duration: 4s;
    animation-iteration-count:  infinite;
}
@keyframes exaple{
0%{
    margin-left: 0px;

}
25%{
    margin-left: 500px;
margin-top: 0px;
background-color: aliceblue;
}
50%{
    margin-top: 200px;
    margin-left: 500px;
    background-color: black;
}
75%{
    margin-left: 0px;
    margin-top: 200px;
    background-color: burlywood;
}
100%{
    margin: 0px;
    background-color: turquoise;
}
}